.credential-area {
    padding-top: 80px;
}
.credential-area .gx-row {
    gap: 80px;
}
.credential-area .credential-sidebar {
    width: 370px;
    flex: none;
    position: -webkit-sticky;
    position: sticky;
    top: 15%;
}
.credential-area .credential-sidebar .img-box {
    background: linear-gradient(90deg,#3c58e3 -15%,#c2ebff 58%,#5ab5e2 97%);
    border-radius: 30px;
    margin-bottom: 40px;
}
.credential-area .credential-sidebar .img-box img {
    display: block;
    margin: auto;
    border-radius: 30px;
}
.credential-area .credential-sidebar h2 {
    color: #fff;
    font-weight: 500;
    font-size: 26px;
}
.credential-area .credential-sidebar p {
    color: #bcbcbc;
    opacity: .5;
    font-size: 16px;
    margin-bottom: 34px;
}
.credential-area .credential-sidebar .social-links {
    gap: 10px;
    margin-bottom: 36px;
}
.credential-area .credential-sidebar .social-links li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    line-height: 55px;
    color: #fff;
    font-size: 20px;
    border: 1px solid hsla(0,0%,100%,.05);
    background: linear-gradient(120deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,.01));
    transition: .3s;
}
.credential-area .credential-sidebar .theme-btn {
    width: 100%;
}
.theme-btn {
    background: #323232;
    color: #fff;
    display: inline-block;
    transition: .3s;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
}
.theme-btn:hover {
    background: #fff;
    color: black;
    text-decoration: none;
}
.flex-1 {
    flex: 1 1;
}
.credential-area .credential-content .credential-about h2 {
    margin-bottom: 37px;
}
.credential-area .credential-content .credential-about h2, .credential-area .credential-edc-exp h2 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.credential-area .credential-content .credential-about p {
    font-size: 16px;
    color: #fff;
    opacity: .8;
    line-height: 1.56;
    margin-bottom: 30px;
}
.credential-area .credential-education, .credential-area .credential-experience {
    margin-bottom: 85px;
}
.credential-area .credential-edc-exp h2 {
    margin-bottom: 22px;
}
.credential-area .credential-edc-exp .credential-edc-exp-item h4 {
    color: #bcbcbc;
    opacity: .6;
    font-size: 16px;
    font-weight: 500;
}
.credential-area .credential-edc-exp .credential-edc-exp-item h3 {
    font-size: 18px;
    color: #5b78f6;
}
.credential-area .credential-edc-exp .credential-edc-exp-item h5 {
    font-size: 14px;
    color: #bcbcbc;
    opacity: .6;
    font-weight: 400;
}
.credential-area .credential-edc-exp .credential-edc-exp-item p {
    margin: 0;
    font-size: 16px;
    color: #fff;
    opacity: .8;
    line-height: 1.56;
}
.credential-area .credential-education, .credential-area .credential-experience {
    margin-bottom: 85px;
}
.credential-area .skills-wrap h2 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.credential-area .skills-wrap .skill-items {
    grid-template-columns: 1fr 1fr 1fr;
}
.d-grid {
    display: grid!important;
}
.credential-area .skills-wrap .skill-item .percent {
    color: #bcbcbc;
    opacity: .6;
    display: block;
    font-weight: 500;
    margin-bottom: 9px;
}
.credential-area .skills-wrap .skill-item .name {
    color: #fff;
    opacity: .9;
    font-size: 18px;
    margin-bottom: 4px;
}
.credential-area .skills-wrap .skill-item p {
    color: #bcbcbc;
    opacity: .6;
    font-size: 14px;
    margin: 0;
}
.credential-area .awards-wrap {
    padding-top: 100px;
}
.credential-area .skills-wrap h2 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 19px;
}
.credential-area .awards-wrap.skills-wrap .skill-items {
    grid-template-columns: 1fr;
}
.credential-area .awards-wrap.skills-wrap .skill-item {
    width: 100%;
}
.credential-area .credential-sidebar .shadow-box {
    padding: 24px 24px 34px;
}
.credential-area .skills-wrap .skill-item {
    width: 50%;
}