.footer-area {
    padding-top: 128px;
    padding-bottom: 78px;
}

.text-center {
    text-align: center!important;
}

.footer-area .footer-content .logo {
    display: inline-block;
}
.footer-area .footer-content .logo img {
    display: block;
}
.footer-area .footer-content .footer-menu {
    margin: 33px 0 37px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
    flex-wrap: wrap;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-area .footer-content .footer-menu li a {
    color: #676767;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1px;
    font-weight: 600;
    transition: .3s;
    text-decoration: none;
}
.footer-area .footer-content .footer-menu li a:hover {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1px;
    font-weight: 600;
    transition: .3s;
    text-decoration: none;

}
a {
    text-decoration: none;
}
.footer-area .footer-content .copyright {
    margin: 0;
    color: #727272;
    font-size: 14px;
    font-weight: 500;
}
.footer-area .footer-content .copyright span {
    color: #5b78f6;
}
li{
    list-style: none;
    margin: unset;
}
.footer-logo{
    margin-left: 485px;
    margin-right: 508px;
}
.footer-logo-text {
    background: #323232;
    color: #fff;
    padding: 8px 16px;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 12px;

}

.footer-logo-text:hover {
    /* Add any hover styles you'd like */
    /* background-color: #ebebeb; */
    /* text-color: grey; */
    background: white;
    color: black;
    cursor: pointer;

}