body {
  margin: 0;
  font-family: Inter,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
  line-height: 19.2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*, :after, :before {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}